# --- JAVA / SPRING BOOT ---
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
backend/**/*.class
backend/.settings/
backend/.classpath
backend/.project
backend/.metadata/
*.log
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### VS Code ###
.vscode/


# --- ANGULAR / NODE ---
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.editorconfig
frontend/.vscode/

# --- SISTEMA ---
.DS_Store
Thumbs.db
/.metadata/
